* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 height: 100vh;

 display: flex;
 justify-content: center;
 align-items: center;

 background-color: #f4f4f4;
 font-family: Arial, sans-serif;
}
.container {
 text-align: center;
}

.container > h2 {
 margin-bottom: 10px;
}

input[type="text"] {
 width: 300px;

 padding: 10px;
 margin: 5px;
 
 border: 1px solid #ccc;
 border-radius: 5px; 
}

button {
 padding: 10px 20px;
 margin: 10px 0 15px 0;

 background-color: #007bff;
 color: #fff;
 
 border: 1px solid #ccc;
 border-radius: 5px;
 cursor: pointer;
}
